table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 0 1px black;
}

th,
td {
  padding: 10px 25px;
  border-bottom: 1px solid black;
}

button {
  border: none;
  border-radius: 5px;
  background: transparent;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: rgb(231, 98, 98);
}
